---
layout: default
title: Sean's blog
sitemap:
  priority: 0.9
---

<div id="home">
  {% for post in site.posts %}


      <ul class="tag-box inline">
        {% for tag in post.tags %}
        <li><a href="#{{ tag | cgi_escape }}">{{ tag }} <span>{{ site.tags[tag] | size }}</span></a></li>
       {% endfor %}
      </ul>

<!--
        <ul class="tags">
        {% for tag in post.tags %}
          <li><a href="/tags#{{ tag }}" class="tag">{{ tag }}</a></li>
        {% endfor %}
        </ul>
-->

      <div class="post">
        <h1 class="post-title">
          <a href="{{ post.url }}" rel="bookmark" title="Permalink to {{ post.title }}">{{ post.title }}</a>
        </h1>

<!--     <span class="post-date">
          <svg class="icon-calendar"></svg>
          {{ post.date | date_to_long_string }}
        </span>
-->
        <span class="post-date">
        <i class="fa fa-calendar"></i>
       {{ post.date | date_to_long_string }}
        </span>
       
        <!-- Excerpt -->
        {{ post.excerpt }}
        <a class="continue-reading" href="{{ post.url }}" rel="bookmark" title="Permalink to {{ post.title }}">Continue Reading...</a>
      </div>
  {% endfor %}
  
 </div>